.navbar{
  padding:0px;
  margin:0px;
  color: black;
}
.navbar-brand{
  color:black;
  font-family: 'Zilla Slab', serif;
  font-size:30px;
}
.nav-link{
  font-size: 18px;
}
.image{
  background-image: url('contact1.jpeg');
  background-size: cover;
}
*{

    padding: 0;
    margin: 0;
    color: black;
    box-sizing: border-box;
    border: none;

}
body{
  color:white;
    width: 100%;
    height: 100vh;
    background-size: 100% 110vh;
    position: relative;
    background-repeat: no-repeat;
}
header{
    position: absolute;
    text-align: center;
    width: 75%;
    left: 12%;
    top: 9rem;
    bottom:100%;
}
header h1{
    font-size: 40px;
}
.empty{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}
.navbar-brand{
  color:black;
}
.nav-link{
  color:black;
}
.content{
    display: flex;
    min-height: 110vh;
}
.content section{
    margin-left: 20vh;
}
.content-form{
    margin-top: 7rem;
}
section i{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    text-align: center;
}
.form{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}

.form .contact-form input{
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}
.form .contact-form input ~ span{
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}
.form .contact-form input:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.form .contact-form textarea{
    width: 30rem;
    border: 0px;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid white;
}
.form .contact-form textarea ~ span
{
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}
.form .contact-form textarea:focus ~span{
    transform: translateY(-20px);
    pointer-events: none;
}
.form .contact-form input[type=submit]{
    border: 2px solid dodgerblue;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-top: -5px;
}
.form .contact-form input[type=submit]:hover{
    background-color: transparent;
    color: dodgerblue;
}
.media{
    position: absolute;
    top: 85vh;
    right: 20vh;
    display: flex;
    list-style: none;
}
.media a{
    margin: 200px 10px;
}
@media screen and (max-width: 900px){
    body{
        background-repeat: repeat-y;
        overflow: auto;
    }
    header{
        position: absolute;
        left: 0;
        top: 30%;
        width: 100%;
    }
    .empty{
        height: 210vh;
    }
    .form{
        position: absolute;
        top: 100vh;
        margin-left: 10%;
    }
    .content-form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        margin-top: 53vh;
        margin-left: 10vh;
    }
    .content section{
        margin-top: 0vh;
        margin-left: 0vh;
    }
    .media{
        position: absolute;
        top: 190vh;
        right: 30px;
    }
}
.column{

  margin-left:30px;
  margin-right:30px;
  color:white;
}
.button{
  padding: 8px 20px;
  font-size: 1.3rem;
  border-radius: 15%;
  background-color: transparent;
  border:2px solid white;
  color:white;
  cursor: pointer;
}
.button:hover{
  color:#03045e;
  border: 2px solid #03045e;
}
.collect{
  margin-top:40px;
  margin-left:40px;
}
.form1{
  margin-top:100px;
}
h2{
  color:white;
}

p{
  color:white;
}
h1{
  color:white;
}
span{
  color:white;
}
.color1{
  color:white;
}
.color1:hover{
  color:#4396ff;
}
.erp{
  color:white;
}

